//defining the global styles and changing the variables

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900');

// Set your brand colors
$purple: rgb(128, 77, 138);
$lite-gray:#f5f5f5;
$white:	#FFFFFF;
$dark:rgb(22,28,49);

$green:#00cc86;
$light-green:#bafacd;

$red:#dc3900;
$light-red:#dc3b00a2;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $purple;


// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-background-color: $lite-gray;
$input-border-color:tranceparent;
$input-shadow: none;