@import '../../../s1.scss'; 

.root{
    display: flex;
    width: 100%;
    position: relative;

    &:hover{
        .x-icon-button{
            opacity: 1;
            transform: scale(1);
        }
    }

    .x-icon-button{
        position: absolute;
        height: 34px;
        width: 34px;
        background:$dark;
        background-image: url('../../../assets/delete_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        top: -17px; //half of the width
        right: -17px; //half of the width
        transform: scale(0);
        transition: opacity 0.2s ease-out,transform 0.2s ease-out;
        opacity: 0;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
            
        }
    }
   
}
.budget-item{
    display: flex;
    width: 100%;
    background-color: $lite-gray;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.2s ease-out;
    &:hover{
        background-color: darken($lite-gray, 2%);
    }

    .description{
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;

        align-items: center;
    }
    .amount{
        padding: 5px;
        border-radius: 3px;

    }
  
}

.expenses{
    color: $red;
}
.amount{
    background-color: $light-red;
}

.income{
    color: $green;
}
.amount{
    background-color: $light-green;
}