<section class="budget-item-section">
    <div class="budget-item-container">
        <div class="income-column">
            <h1>Income</h1>
            <div class="budget-item">
                <div *ngFor="let item of budgetItem">
                     <app-budget-item-card 
                     *ngIf="item.amount >=0"
                     [item]="item" 
                     (xButtonClick)="ondelete(item)"
                     style="display: block; margin-bottom: 20px;"></app-budget-item-card>
                </div>
    
            </div>
           
        </div>


        <div class="expenses-column">
            <h1>Expenses</h1>
            <div *ngFor="let item of budgetItem">
                <app-budget-item-card 
                *ngIf="item.amount < 0"
                (xButtonClick)="ondelete(item)"
                [item]="item" 
                style="display: block; margin-bottom: 20px;"></app-budget-item-card>
           </div>

       </div>

    </div>
</section>